---
      interface Props {
        etiqueta: string;
    }
    const etiqueta =Astro.props.etiqueta;
---
<button>
    {etiqueta}
</button>
<style>
    /*estlos de clase*/
    /*se aplican a los elementos*/
    /*e tengan el atributo class*/
    /*con el mismo nombre de clase*/
    .boton-enviar{
        background-color: hwb(0 0% 100%);
        color: rgb(177, 0, 0);
        width: 100px;
        height: 40px;
        border-radius: 10px;
        border-top-left-radius: ;
    }
</style>