---
      interface Props {
        etiqueta: string;
    }
    const etiqueta =Astro.props.etiqueta;
---
<button>
    {etiqueta}
</button>
<style>
    /*estlos de clase*/
    /*se aplican a los elementos*/
    /*e tengan el atributo class*/
    /*con el mismo nombre de clase*/
.boton-enviar {
    display: block;
    margin-left: auto;   /* Lo empuja completamente a la derecha */
    margin-right: 44px;
    width: 120px;
    height: 40px;
    background-color: hwb(0 0% 100%);
    color: rgb(230, 0, 0);
    border-radius: 10px;
}





     

        
    
</style>