---
//div: etiquita abierta
//     tienen elementos dentro
//     permite especificar propriedades
//     ubicacion

//Definimos las propiedades
//que puede recibir el componente
    interface Props {
    etiqueta:string;
    tipo: string;
}
//crear una variable
//para recibir la etiqueta
//Astro.props=Los valores desde
//                  el control
    const {etiqueta} = Astro.props ; 
---
<label >{etiqueta}</label>
<div>
    <div id="cedula">
        <input 
        type="radio"
        name="rbg"
        id="radio1" 
    /> 
    <strong>CC</strong>
</div>
    <div  id="tarjeta">
        <input 
       type="radio"
       name="rbg"
        id="radio2" 
    /> 
    <strong>TI</strong>
</div>
    <div id="cedulaextranjeria">
            <input 
             type="radio"
              name="rbg"
              id="radio3" 
        />
     <strong>CE</strong>
    </div>
    
</div>
<style> 
#cedula{
    background-color: rgb(213, 165, 252);
    /*display:
    determina como una etiqueta
    se comporta en cuanto a: display:display: 
    largo, ancho, ubicaciòn;*/
    display:inline;
    
}
#tarjeta{
    background-color: rgb(140, 0, 255);
    /*display:
    determina como una etiqueta
    se comporta en cuanto a: display:display: 
    largo, ancho, ubicaciòn;*/
    display:inline;   
}
#cedulaextranjeria{
    background-color: rgb(94, 0, 170);
    /*display:
    determina como una etiqueta
    se comporta en cuanto a: display:display: 
    largo, ancho, ubicaciòn;*/
    display:inline;   
}
</style>