---
      interface Props {
        etiqueta: string;
    }
    const etiqueta =Astro.props.etiqueta;
---
<div>

</div>
<label>{etiqueta}</label>
<select>
    <option id= "cali">Cali</option>
    <option id="bogota">Bogota</option>
    <option id="medellin">Medellin</option>
    <option id="cartegena">Cartagena</option>
    <option id="barranquilla">Barranquilla</option>
    <option id="arauca">Arauca</option>
    <option id="cartagena">Cartagena</option>
</select>
<style>
    /*estilo de identificador*/
    /*solo aplica a etiquetas*/
    /*que tengan el atributo id*/
    /*con el mismo nombre de id*/
    /*NOTA: solo debe haber un id igual*/
    /*EN TODA LA PAGINA*/
    #bogota{
        color:rgb(255, 0, 212);
    }
    
    #medellin{
        color:#c40000;
    }
   
    #barranquilla{
        color:rgb(94, 255, 0);
    }
   
    #cartegena{
        color:rgb(255, 0, 0);
    }
    
    #cali{
        color:rgb(0, 153, 153);
    }
    select{
        border:2px solid rgb(162, 0, 236);
    }

      
</style>