---
      interface Props {
        etiqueta: string;
    }
    const etiqueta =Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<select>
    <option>Cali</option>
    <option>Bogota</option>
    <option>Medellin</option>
    <option>Cartagena</option> 
</select>