.form{
        display: block;
        background-color: rgb(21, 150, 255);
        width: 700px;
        border: 2px solid rgb(0, 0, 0);
        margin: 20px auto;
        box-shadow: 10px 5px 5px black;
    }

.titulo{

    text-align: center;
    color: rgb(210, 255, 240);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    
}
.formulario  {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 600;
        box-shadow: 10px 5px 5px black;
}